.top-navbar {
	.top-section {
		background-color: #f0f0f0;
		display: flex;
		justify-content: space-between;

		.logo {
			align-items: center;
			height: 70px;
			padding: 30px;
			display: flex;
			font-size: xx-large;
		}

		.burger {
			width: 32px;
			height: 32px;
			display: flex;
			justify-content: space-around;
			flex-flow: column nowrap;
			position: fixed;
			top: 20px;
			right: 30px;
			cursor: pointer;
			z-index: 1;

			.burger-lines {
				width: 32px;
				height: 4px;
				background-color: #333333;
				border-radius: 10px;
				transform-origin: 1px;
				transition: all 0.3s linear;
			}

			.burger-open:nth-child(1) {
				transform: rotate(45deg);
			}

			.burger-closed:nth-child(1) {
				transform: rotate(0);
			}

			.burger-open:nth-child(2) {
				transform: translateX(0);
				opacity: 0;
			}

			.burger-closed:nth-child(2) {
				opacity: 1;
			}

			.burger-open:nth-child(3) {
				transform: rotate(-45deg);
			}

			.burger-closed:nth-child(3) {
				transform: rotate(0);
			}
		}
	}

	.top-nav {
		background-color: #aff0f0;
		display: flex;
		align-items: center;
		list-style: none;
		height: 40px;
		justify-content: space-evenly;
		transition: all 0.3s ease-in-out;
	}

	.nav-closed {
		transform: translateY(-100%);
		opacity: 0;
		z-index: auto;
	}

	.nav-open {
		transform: translateY(0);
	}
}
